<p>student-exam-details works!</p>

<ng-container *ngIf="studentExam$ | async as studentExam">
    {{studentExam | json}}

    <div *ngFor="let question of studentExam.studentQuestions">
        <h1>{{question.title}}</h1>

        <div *ngIf="question.type === 'closed'">
          <p>Points: {{question.maxPoints}}</p>
          <p>Correct choices: {{question.numCorrectChoices}}</p>
          <p *ngFor="let choice of question.studentChoices">
              {{choice.text}}
          </p>

          
        </div>

        <div *ngIf="question.type === 'open'">
            <p>Points: {{question.maxPoints}}</p>
            <textarea placeholder="Answer here"></textarea>
        </div>

        
    </div>
</ng-container>
