nav {
    padding: 0;
    /* overflow-y: auto;
    overflow-x: hidden; */
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 2px -2px #C8C8C8;
}

#heading-nav {
    background-color: #F0F0F0;
    padding: 0.5rem 4rem;
    overflow: hidden;
}

#heading-nav * {
    display: inline-block;
}

#subheading {
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

.flex-item {
    height: 100vh;
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* -2rem because theres a margin of 1 rem on each side of every flex item*/
}

.flex-item.left {
    width: 40%;
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    position: relative; /* otherwise box shadow wont show */
}

.flex-item.right {
    width: 60%;
    background-color: #E8E8E8;
}

#topic-select {
    min-width: 60%;
    padding: 0.4rem 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.question-list {
    list-style: none;
}

.question-list li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.question-list li p{ 
    display: inline-block;
    margin-right: 1rem;
}

.subheading {
    margin-bottom: 1rem;
}
