<ng-container *ngIf="exam$ | async as exam">
    <div class="wrapper">
        <nav>
            <div id="heading-nav">
                <h2 id="heading"><b>{{exam.name | uppercase}}</b> - Exam</h2>
            </div>
        </nav>

        <div class="flex-container">

            <div class="flex-item left">
                <h3 class="subheading">Choose a topic</h3>
                <select id="topic-select" #select>
                    <option  *ngFor="let topic of topics$ | async" value="{{topic.id}}">
                        {{topic.name}}
                    </option>
                </select>
                <button (click)="selectTopic(select.value)" class="blue-button">Select</button>

                <ng-container *ngIf="(questions$ | async)?.length!=0; else empty">
                    <ul class="list">
                        <li *ngFor="let question of questions$ | async">
                            <p>{{question.questionTitle}} ({{question.id}})</p>
                            <button (click)="addQuestion(question.id)" class="blue-button">Add</button>
                        </li>
                    </ul>
                </ng-container>

                <ng-template #empty>
                    <p>This topic has no questions yet</p>
                </ng-template>
            </div>

            <div class="flex-item right">
                <h3 class="subheading">Exam questions</h3>
                <ul class="list">
                    <li *ngFor="let examQuestion of examQuestions$ | async">
                        <p>{{examQuestion.questionTitle}} - {{examQuestion.type}}<p>
                        <p *ngFor="let answer of examQuestion.answers">{{answer.text}}</p>
                        <button (click)="removeQuestion(examQuestion.id)" class="remove-btn">Remove</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</ng-container>