<ng-container *ngIf="subject$ | async as subject">

    <div class="wrapper">
        <nav>
            <div id="heading-nav">
                <h2 id="heading"> {{ subject.name | uppercase }}</h2>
            </div>

            <div id="button-nav">
                <button id="teachers" class="hover blue-button" routerLink="add">Add teacher</button>
            </div>
        </nav>

        <main>
            <h2>Teachers</h2>
            
            <table id="teacher-table">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <ng-container *ngIf="(subjectTeachers$ | async)?.length">
                    <tr *ngFor="let subjectTeacher of subjectTeachers$ | async">
                        <td>{{subjectTeacher.username}}</td>
                        <td>{{subjectTeacher.email}}</td>
                        <td (click)="removeTeacherFromSubject(subjectTeacher.id)">Remove</td>
                    </tr>
                </ng-container>
            </table>

        </main>
    </div>
</ng-container>