<ng-container *ngIf="topic$ | async as topic">

    <div class="wrapper">
        <nav>
            <div id="heading-nav">
                <h2 id="heading"> {{ topic.name | uppercase }} Topic - Questions </h2>
            </div>

            <div id="button-nav">
                <button id="teachers" class="hover blue-button" routerLink="add-topic">Add question</button>
            </div>
        </nav>

        <main class="flex-container">

            <div class="flex-item left">
                <h3>Questions</h3>


                <table id="questions-list">
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                    <ng-container *ngIf="(questions$ | async)?.length; else empty">
                        <tr *ngFor="let question of questions$ | async" (click)="getQuestionAnswers(question.id, question.questionTitle)">
                            <td>{{question.questionTitle}}</td>
                            <td>{{question.type | uppercase}}</td>
                        </tr>
                    </ng-container>
                </table>

                <ng-template #empty>
                    <p id="empty"><i>No questions have been added yet</i></p>
                </ng-template>

            </div>

            <div class="flex-item right">
                <app-add-question *ngIf="!showQuestionDetails"(newQuestionEvent)="refreshQuestions()"></app-add-question>
                <app-question-details 
                *ngIf="showQuestionDetails" 
                [question]="selectedQuestion"
                (closeQuestionDetailsEvent)="closeQuestionDetails()">
                </app-question-details>
            </div>

        </main>
    </div>
</ng-container>