.wrapper {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100vh;
    width: 100%;
    position: relative;
}

.content {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

form {
    background-color: whitesmoke;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 3rem;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inputs input {
    width: 100%;
    margin: 10px 0;
    padding: 7px 0;
    background-color: inherit;
    border-bottom: 1px var(--sherpa-blue) solid;
}


h1 {
  margin-bottom: 1rem;
}


#sign-up {
  margin-top: 2rem;
  display: inline-block;
  color: whitesmoke;
  background-color: var(--sherpa-blue);
  border-radius: 20px;
  font-weight: bold;
  padding: 0.5rem 0.8rem;
}

#sign-up:disabled {
    cursor: not-allowed;
}

#sign-in {
    text-align: center;
    margin-top: 1rem;

}

span {
    /* text-decoration: underline; */
    color: var(--sherpa-blue);
}