<form [formGroup]="form">

    <h3 id="add-question-title">Add question</h3>

    <h4>Question type</h4>

    <div id="types">
        <div class="hover">
            <input type="radio" name="type" formControlName="type" value="open">
            <label for="open-type">open</label>
        </div>
        <div class="hover">
            <input type="radio" name="type" formControlName="type" value="closed">
            <label for="closed-type">closed</label>
        </div>
    </div>

    <ng-container *ngIf="form.value.type != '' ">
        <input placeholder="Question's title" formControlName="title" class="blue-input">
        <div *ngIf="f.title.invalid && f.title.touched || formSubmitted">
            <div *ngIf="f.title.errors?.required">title is required</div>
            <div *ngIf="f.title.errors?.minlength">title must be at least
                {{f.title.errors?.minlength.requiredLength}} characters</div>
        </div>

        <input placeholder="Points for correct answer/s" formControlName="maxPoints" class="blue-input">
        <div *ngIf="f.maxPoints.invalid && f.maxPoints.touched || formSubmitted">
            <div *ngIf="f.maxPoints.errors?.required">points are required</div>
        </div>

    </ng-container>

    <div id="choices-list" *ngIf="form.value.type == 'closed' ">
        <button id="add-choice" class="hover white-button" (click)="addChoice()">Add choice</button>
        <p><i>Mark the checkbox of the choices that are correct</i></p>

        <div formArrayName="choices" *ngFor="let choice of choicesControls; let i = index"
            class="choice">

            <div [formGroupName]="i">
                <input type="checkbox" formControlName="isCorrect" class="hover checkbox">
                <input formControlName="text" placeholder="Choice &#8470;{{i + 1}}" class="blue-input choice">
                <button (click)="removeChoice(i)" class="hover remove-btn">Remove</button>
            </div>
            <div *ngIf="choicesControls[i].invalid && choicesControls[i].touched || formSubmitted"
                class="choice-error">
                <div *ngIf="choicesControls[i].get('text')?.errors?.required">cannot be empty</div>
            </div>

        </div>
    </div>

    <button id="add-question" class="hover blue-button" (click)="submitQuestion()">Add question</button>
</form>