#add-question-title {
    margin-bottom: 2rem;
}

#types {
    margin: 1rem 0;
}

#add-question {
    position: absolute;
    display: block;
    bottom: 5%;
    left: 3rem;
}

#add-choice {
    display: block;
    margin-bottom: 1rem;
}

#choices-list {
    margin: 1rem 0rem;
}

.choice {
    width: 100%;
    margin: 1rem 0rem;
}


.choice {
    width: 70%;
    margin: 0 1rem;
}

.choice-error {
    margin-left: 28px;
}

.remove-btn {
    padding: 0.2rem 0.4rem;
}