<ng-container *ngIf="subject$ | async as subject">
    <div class="wrapper">


        <nav>
            <div id="heading-nav">
                <h2 id="heading">{{subject.name | uppercase}}</h2>
            </div>

            <div id="button-nav">
                <button id="add-exam" class="hover blue-button" routerLink="add-exam">Add Exam</button>
                <button id="topics" class="hover blue-button" routerLink="topics">Topics</button>
                <button id="teachers" class="hover blue-button" routerLink="teachers">Teachers</button>
            </div>
        </nav>

        <main>


            <h3 id="subheading">Exams</h3>

            <div class="flex-container">
                <div class="flex-item hover">
                    <h3>
                    </h3>
                </div>
            </div>
        </main>
    </div>
</ng-container>