<div class="wrapper">

        <form>
            <h1>Add student</h1>
            <div id="inputs">

                <div [hidden]="selectedStudent">
                    <input placeholder="Search by email or faculty number" #input class="blue-input">
    
                    <ul id="student-list">
                        <ng-container *ngFor="let student of students$ | async">
                            <li class="hover" (click)="selectStudent(student)">
                                <div>{{student.email}}@outlook.com</div>
                                <div>{{student.facultyNumber}}</div>
                            </li>
                        </ng-container>
                    </ul>
                </div>

                <div *ngIf="selectedStudent">
                    <div id="selected-student">
                        <p>{{selectedStudent.username}}</p>
                        <p>{{selectedStudent.email}}@outlook.com</p>
                    </div>
                    <button id="cancel" class="hover white-button" (click)="deselectStudent()">Cancel</button>
                </div>

                <p *ngIf="errorMessage">{{errorMessage}}</p>

            </div>

            <button id="add" class="hover blue-button" type="button" (click)="submitStudent()">Add</button>
        </form>
</div>
