<div class="wrapper">

    <main>
        <form>
            <h1>Add student</h1>
            <div id="inputs">

                <div [hidden]="selectedStudent">
                    <input placeholder="Search by email or faculty number" #input>
    
                    <ul id="students-list">
                        <ng-container *ngFor="let student of students$ | async">
                            <li class="hover" (click)="selectStudent(student)">
                                <div>{{student.email}}@outlook.com</div>
                                <div>{{student.facultyNumber}}</div>
                            </li>
                        </ng-container>
                    </ul>
                </div>

                <div *ngIf="selectedStudent" id="selected-student">
                    <p>{{selectedStudent.username}}</p>
                    <p>{{selectedStudent.email}}@outlook.com</p>
                    <button id="cancel" class="hover" (click)="deselectStudent()">Cancel</button>
                </div>

                <p *ngIf="errorMessage">{{errorMessage}}</p>

            </div>

            <button id="add" class="hover" type="submit" [disabled] (click)="submit()">Add</button>
        </form>
    </main>
</div>
