nav {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.2rem 2rem;
    overflow: auto;
}

#exam-results {
    background-color: transparent;
    color: var(--sherpa-blue);
    font-weight: 800;
    border: whitesmoke 3px solid;
    float: right;
    border-radius: 4px;
    padding: 12px 10px;
}

#teacher-register {
    background-color: transparent;
    float: right;
    color: var(--sherpa-blue);
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 15px 10px;
    margin-right: 10px;
    font-weight: 800;
}

#enter-exam {
    background-color: var(--ecstasy);
    color: var(--sherpa-blue);
    padding: 15px 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;

}

#teacher-login {
    background-color: var(--ecstasy);
    color: var(--sherpa-blue);
    padding: 15px 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;
}

main {
    /* background-color: #eef3d2;
    background-image: linear-gradient(135deg, #eef3d2 21%, #f75c57 78%); */
    background-image: url('../../assets/images/bench-accounting.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
    height: 100vh;
}


