.wrapper {
    background-color: #E8E8E8;
    min-height: 100vh;
    color: var(--sherpa-blue);
}

nav {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 2px -2px #C8C8C8;
}

#heading-nav {
    background-color: #F0F0F0;
    padding: 0.5rem 4rem;
    overflow: hidden;
}

#heading-nav * {
    display: inline-block;
}

#subheading {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.flex-item {
    width: calc(25% - 2rem);
    /* -2rem because theres a margin of 1 rem on each side of every flex item*/
    background-color: #337575;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: 1rem;
    min-height: 12rem;
    position: relative;
}

.flex-item:hover {
    background-color: #004242;
}

.flex-item h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#add-exam i {
    font-size: 2rem;
}

#add-exam {
    opacity: 0.8;
}






