<div class="wrapper">

    <main>
        <form [formGroup]="subjectForm" (ngSubmit)="submit()">
            <h1>Create subject</h1>
            <div id="inputs">
                <input name="name" formControlName="name" type="text" placeholder="Name"><br>
                <div *ngIf="f.name.invalid && f.name.touched">
                    <div *ngIf="f.name.errors?.required">subject name is required</div>
                    <div *ngIf="f.name.errors?.minlength">must be at least
                        {{f.name.errors?.minlength.requiredLength}} characters</div>
                </div>
                
                <textarea id="description" name="description" formControlName="description" type="description" placeholder="Description (optional)">
                </textarea><br>
                
            </div>

            <button id="create" class="hover" type="submit" [disabled]="this.subjectForm.invalid">Create</button>
        </form>
    </main>
</div>