.wrapper {
    background-color: #E8E8E8;
    min-height: 100vh;
    color: var(--sherpa-blue);
}

nav {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 2px -2px #C8C8C8;
}

#heading-nav {
    background-color: #F0F0F0;
    padding: 0.5rem 4rem;
    overflow: hidden;
}

#heading-nav * {
    display: inline-block;
}

#button-nav {
    background-color: #E8E8E8;
    padding: 0.8rem 6rem;
}

#button-nav button {
    margin-right: 1rem;
}

main {
    /* padding-left: 6rem;
    padding-right: 6rem; */
    padding-top: 8rem;
    padding-bottom: 3rem;
}



#subheading {
    margin-top: 10px;
}








