<ng-container *ngIf="subject$ | async as subject">

    <div class="wrapper">
        <nav>
            <div id="heading-nav">
                <h2 id="heading"> {{ subject.name | uppercase }} - Topics </h2>
            </div>

            <div id="button-nav">
                <button id="teachers" class="hover blue-button" routerLink="add-topic">Add topic</button>
            </div>
        </nav>

        <main>

            <h3 id="subheading">Topics</h3>

            <div class="flex-container">
                <div class="flex-item hover" *ngFor="let topic of topics$ | async" routerLink="{{topic.id}}">
                    <h3>
                        {{ topic.name }}
                    </h3>
                </div>
            </div>

        </main>
    </div>
</ng-container>