<div class="wrapper">

    <div class="center-form">
        <form>
            <h1>Add teacher</h1>
            <div id="inputs">

                <div [hidden]="selectedTeacher">
                    <input placeholder="Search by username or email" #input class="blue-input">

                    <ul id="teachers-list">
                        <ng-container *ngFor="let teacher of teachers$ | async">
                            <li class="hover" (click)="selectTeacher(teacher)">
                                <div>{{teacher.username}}</div>
                                <div>{{teacher.email}}@outlook.com</div>
                            </li>
                        </ng-container>
                    </ul>
                </div>

                <div *ngIf="selectedTeacher">
                    <div id="selected-teacher">
                        <p>{{selectedTeacher.username}}</p>
                        <p>{{selectedTeacher.email}}@outlook.com</p>
                    </div>
                    <button id="cancel" class="hover white-button" (click)="deselectTeacher()">Cancel</button>
                </div>

                <p *ngIf="errorMessage">{{errorMessage}}</p>

            </div>

            <button id="add" class="hover" type="button" (click)="submitTeacher()">Add</button>
        </form>
    </div>
</div>