<ng-container>

    <div class="wrapper">
        <nav>
            <div id="heading-nav">
                <h2 id="heading"> Subject name students </h2>
            </div>

            <div id="button-nav">
                <button id="teachers" class="hover blue-button" routerLink="add-topic">Add question</button>
            </div>
        </nav>

        <main class="flex-container">

            <div class="flex-item left">

            </div>

            <div class="flex-item right">
                <app-add-student></app-add-student>
            </div>

        </main>
    </div>
</ng-container>
