/* .wrapper {
    background-color: #E8E8E8;
    min-height: 100vh;
    color: var(--sherpa-blue);
} */

nav {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 2px -2px #C8C8C8;
}

#heading-nav {
    background-color: #F0F0F0;
    padding: 0.5rem 4rem;
    overflow: hidden;
}

#heading-nav * {
    display: inline-block;
}

#button-nav {
    background-color: #E8E8E8;
    padding: 0.8rem 6rem;
}

#button-nav button {
    margin-right: 1rem;
}

#subheading {
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

.flex-item {
    width: 50%;
    height: 100vh;
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* -2rem because theres a margin of 1 rem on each side of every flex item*/
}

.flex-item.left {
    background-color: #E8E8E8;
}

.flex-item.right {
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    overflow-y: auto;
    right: 0;
}