<div class="form-wrapper">

    <div class="center-form">
        <form [formGroup]="registerForm" (ngSubmit)="submit()" class="auth-form">
            <h2>Student sign up</h2>
            <div id="inputs">

                <input name="username" formControlName="username" type="text" placeholder="Username" class="blue-input">
                <div *ngIf="f.username.invalid && f.username.touched">
                    <div *ngIf="f.username.errors?.required">username is required</div>
                    <div *ngIf="f.username.errors?.minlength">must be at least {{f.username.errors?.minlength.requiredLength}} characters</div>
                </div>

                <input name="email" formControlName="email" type="email" placeholder="Email" class="blue-input">
                <div *ngIf="f.email.invalid && f.email.touched">
                    <div *ngIf="f.email.errors?.required">email is required</div>
                </div>

                <input name="facultyNumber" formControlName="facultyNumber" type="text" placeholder="Faculty number" class="blue-input">
                <div *ngIf="f.facultyNumber.invalid && f.facultyNumber.touched">
                    <div *ngIf="f.facultyNumber.errors?.required">faculty number is required</div>
                    <div *ngIf="f.facultyNumber.errors?.minlength">must be {{f.facultyNumber.errors?.minlength.requiredLength}} characters</div>
                </div>

                <input name="password" formControlName="password" type="password" placeholder="Password" class="blue-input">
                <div *ngIf="f.password.invalid && f.password.touched">
                    <div *ngIf="f.password.errors?.required">password is required</div>
                    <div *ngIf="f.password.errors?.minlength">must be at least {{f.password.errors?.minlength.requiredLength}} characters</div>
                </div>

                <input name="confirmPassword" formControlName="confirmPassword" type="password"
                    placeholder="Confirm password" class="blue-input">
                <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched">
                    <div *ngIf="f.confirmPassword.errors?.required">confirm password is required</div>
                    <div *ngIf="f.confirmPassword.errors?.passwordMatch">passwords must match</div>
                </div>

            </div>
            <button id="sign-up" class="hover form-blue-button" type="submit" [disabled]="this.registerForm.invalid">Sign up</button>
        </form>

        <p id="bottom-text">Already have a student account? <span class="hover" routerLink="/auth/student-login"><b>Sign in.</b></span></p>
    </div>
</div>