<div class="wrapper">  
    <nav>
        <p id="exam-results" class="hover">Exam results</p>
        <p id="teacher-login" class="hover" routerLink = "/auth/teacher-login">Teacher Login</p>
    </nav>

    <main>
        <div class="heading">
            <p class="heading">Start building exams</p>
        </div>
        <p id="teacher-register" class="hover" routerLink = "/auth/teacher-register">Teacher Register</p>
        <div class="heading">
            <p class="heading">Enter an exam session</p>
        </div>
        <p id="enter-exam" class="hover">Enter exam</p>
    </main>
</div>


