nav {
    background-color: rgba(255, 255, 255, 0.32);
    padding: 1.2rem 2rem;
    overflow: auto;
}

#exam-results {
    background-color: whitesmoke;
    color: var(--sherpa-blue);
    font-weight: 900;
    float: right;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
}

#teacher-login {
    float: right;
    color: var(--sherpa-blue);
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 0.5rem 0.7rem;
    margin-right: 10px;
    font-weight: 900;
}

#enter-exam {
    background-color: var(--sherpa-blue);
    color: white;
    padding: 15px 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;

}

#teacher-register {
    background-color: var(--sherpa-blue);
    color: white;
    padding: 15px 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;
}

.wrapper {
    /* background-color: #eef3d2;
    background-image: linear-gradient(135deg, #eef3d2 21%, #f75c57 78%); */
    background-image: url('../../assets/images/laptop.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 100vh;
}

main {
    padding: 2rem 4rem;
}

.heading {
    transform: skew(20deg);
    background-color: red;
    padding: 0rem 2rem;
    width: 90%;
}

.heading p {
    transform: skew(-20deg);
    color: #E8E8E8;
    font-size: 5rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}


