<div class="wrapper">  
    <nav>
        <div id="button-section">
            <button class="hover" routerLink = "/auth/teacher-login">Teacher login</button>
            <button class="hover" routerLink = "/auth/teacher-register">Teacher register</button>
            <button class="hover" routerLink = "/auth/student-login">Student login</button>
            <button class="hover" routerLink = "/auth/student-register">Student register</button>
        </div>
    </nav>

    <main>
      
    </main>
</div>


