<ng-container *ngIf="subject$ | async as subject">
    <div class="wrapper">

        <div class="center-form">
            <form [formGroup]="examForm" (ngSubmit)="submit()">
                <h1>Create exam</h1>
                <div id="inputs">
                    <input name="name" formControlName="name" type="text" placeholder="Name"><br>
                    <div *ngIf="f.name.invalid && f.name.touched">
                        <div *ngIf="f.name.errors?.required">exam name is required</div>
                    </div>

                </div>

                <button id="create" class="hover" type="submit" [disabled]="this.examForm.invalid">Create</button>
            </form>
        </div>
    </div>
</ng-container>